.tabs {
  border-radius: 0.375rem;
  flex: 1;
  width: 100%;
  background-color: var(--canon-surface-2);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.list {
  display: flex;
  position: relative;
  z-index: 0;
  padding-inline: 0.25rem;
  gap: 0.25rem;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  outline: 0;
  background: none;
  appearance: none;
  color: var(--canon-text-secondary);
  font-family: inherit;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  user-select: none;
  height: 2.25rem;
  flex: 1;
  cursor: pointer;

  &[data-selected] {
    color: var(--canon-text-primary);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--canon-text-primary);
    }
  }

  &:focus-visible {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0.25rem 0;
      border-radius: 0.25rem;
      outline: 2px solid var(--canon-surface-1);
      outline-offset: -1px;
    }
  }
}

.indicator {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  translate: var(--active-tab-left) -50%;
  width: var(--active-tab-width);
  height: 1.8rem;
  border-radius: 0.25rem;
  background-color: var(--canon-surface-1);
  transition-property: translate, width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
