# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @backstage/reviewers
yarn.lock                                           @backstage/reviewers @backstage-service
*/yarn.lock                                         @backstage/reviewers @backstage-service
/.changeset/cost-insights-*                         @backstage/reviewers @backstage/silver-lining
/.changeset                                         @backstage/reviewers @backstage/techdocs-core
/cypress/src/integration/plugins/techdocs.spec.ts   @backstage/reviewers @backstage/techdocs-core
/docs/assets/search                                 @backstage/reviewers @backstage/techdocs-core
/docs/features/search                               @backstage/reviewers @backstage/techdocs-core
/docs/features/techdocs                             @backstage/reviewers @backstage/techdocs-core
/docs/plugins/integrating-search-into-plugins.md    @backstage/reviewers @backstage/techdocs-core
/packages/techdocs-cli                              @backstage/reviewers @backstage/techdocs-core
/packages/techdocs-cli-embedded-app                 @backstage/reviewers @backstage/techdocs-core
/plugins/adr                                        @backstage/reviewers @kuangp
/plugins/adr-*                                      @backstage/reviewers @kuangp
/plugins/allure                                     @backstage/reviewers @deepak-bhardwaj-ps
/plugins/apache-airflow                             @backstage/reviewers @cmpadden
/plugins/api-docs                                   @backstage/reviewers @backstage/sda-se-reviewers
/plugins/azure-devops                               @backstage/reviewers @marleypowell @awanlin
/plugins/azure-devops-backend                       @backstage/reviewers @marleypowell @awanlin
/plugins/azure-devops-common                        @backstage/reviewers @marleypowell @awanlin
/plugins/bitbucket-cloud-common                     @backstage/reviewers @pjungermann
/plugins/bitrise                                    @backstage/reviewers @backstage/sda-se-reviewers
/plugins/catalog                                    @backstage/reviewers @backstage/catalog-core
/plugins/catalog-*                                  @backstage/reviewers @backstage/catalog-core
/plugins/catalog-backend-module-aws                 @backstage/reviewers @backstage/catalog-core @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud     @backstage/reviewers @backstage/catalog-core @pjungermann
/plugins/catalog-backend-module-msgraph             @backstage/reviewers @backstage/catalog-core @pjungermann
/plugins/catalog-graph                              @backstage/reviewers @backstage/catalog-core @backstage/sda-se-reviewers
/plugins/circleci                                   @backstage/reviewers @adamdmharvey
/plugins/cloudbuild                                 @backstage/reviewers @trivago/ebarrios
/plugins/code-coverage                              @backstage/reviewers @alde @nissayeva
/plugins/code-coverage-backend                      @backstage/reviewers @alde @nissayeva
/plugins/cost-insights                              @backstage/reviewers @backstage/silver-lining
/plugins/cost-insights-*                            @backstage/reviewers @backstage/silver-lining
/plugins/events-backend                             @backstage/reviewers @pjungermann
/plugins/events-backend-module-aws-sqs              @backstage/reviewers @pjungermann
/plugins/events-backend-module-azure                @backstage/reviewers @pjungermann
/plugins/events-backend-module-bitbucket-cloud      @backstage/reviewers @pjungermann
/plugins/events-backend-module-gerrit               @backstage/reviewers @pjungermann
/plugins/events-backend-module-github               @backstage/reviewers @pjungermann
/plugins/events-backend-module-gitlab               @backstage/reviewers @pjungermann
/plugins/events-backend-test-utils                  @backstage/reviewers @pjungermann
/plugins/events-node                                @backstage/reviewers @pjungermann
/plugins/explore                                    @backstage/reviewers @backstage/sda-se-reviewers
/plugins/explore-react                              @backstage/reviewers @backstage/sda-se-reviewers
/plugins/fossa                                      @backstage/reviewers @backstage/sda-se-reviewers
/plugins/gcalendar                                  @backstage/reviewers @szubster @ptychu @kielosz @alexrybch
/plugins/git-release-manager                        @backstage/reviewers @erikengervall
/plugins/home                                       @backstage/reviewers @backstage/techdocs-core
/plugins/ilert                                      @backstage/reviewers @yacut
/plugins/jenkins                                    @backstage/reviewers @timja
/plugins/jenkins-backend                            @backstage/reviewers @timja
/plugins/kafka                                      @backstage/reviewers @nirga @andrewthauer
/plugins/kafka-backend                              @backstage/reviewers @nirga @andrewthauer
/plugins/kubernetes                                 @backstage/reviewers @backstage/warpspeed
/plugins/kubernetes-*                               @backstage/reviewers @backstage/warpspeed
/plugins/newrelic-dashboard                         @backstage/reviewers @mufaddal7
/plugins/playlist                                   @backstage/reviewers @kuangp
/plugins/playlist-*                                 @backstage/reviewers @kuangp
/plugins/rollbar                                    @backstage/reviewers @andrewthauer
/plugins/rollbar-backend                            @backstage/reviewers @andrewthauer
/plugins/scaffolder-backend-module-rails            @backstage/reviewers @angeliski
/plugins/scaffolder-backend-module-yeoman           @backstage/reviewers @pawelmitka
/plugins/search                                     @backstage/reviewers @backstage/techdocs-core
/plugins/search-*                                   @backstage/reviewers @backstage/techdocs-core
/plugins/sonarqube                                  @backstage/reviewers @backstage/sda-se-reviewers
/plugins/stack-overflow                             @backstage/reviewers @backstage/techdocs-core
/plugins/stack-overflow-backend                     @backstage/reviewers @backstage/techdocs-core
/plugins/techdocs                                   @backstage/reviewers @backstage/techdocs-core
/plugins/techdocs-*                                 @backstage/reviewers @backstage/techdocs-core
/plugins/user-settings-backend                      @backstage/reviewers @backstage/sda-se-reviewers
/tech-insights-backend                              @backstage/reviewers @xantier @iain-b
/tech-insights-backend-module-jsonfc                @backstage/reviewers @xantier @iain-b
/tech-insights-tech-insights-common                 @backstage/reviewers @xantier @iain-b
/tech-insights-tech-insights-node                   @backstage/reviewers @xantier @iain-b
