# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                           @backstage/reviewers
/docs/features/techdocs                     @backstage/techdocs-core
/docs/features/search                       @backstage/techdocs-core
/docs/assets/search                         @backstage/techdocs-core
/plugins/allure                             @backstage/reviewers @deepak-bhardwaj-ps
/plugins/code-coverage                      @backstage/reviewers @alde @nissayeva
/plugins/code-coverage-backend              @backstage/reviewers @alde @nissayeva
/plugins/cost-insights                      @backstage/silver-lining
/plugins/cloudbuild                         @backstage/reviewers @trivago/ebarrios
/plugins/search                             @backstage/techdocs-core
/plugins/search-*                           @backstage/techdocs-core
/plugins/techdocs                           @backstage/techdocs-core
/plugins/techdocs-backend                   @backstage/techdocs-core
/plugins/ilert                              @backstage/reviewers @yacut
/plugins/home                               @backstage/techdocs-core
/plugins/azure-devops                       @backstage/reviewers @marleypowell @awanlin
/plugins/azure-devops-backend               @backstage/reviewers @marleypowell @awanlin
/plugins/azure-devops-common                @backstage/reviewers @marleypowell @awanlin
/plugins/kafka                              @backstage/reviewers @nirga
/plugins/kafka-backend                      @backstage/reviewers @nirga
/plugins/scaffolder-backend-module-yeoman   @backstage/reviewers @pawelmitka
/tech-insights-backend                      @backstage/reviewers @xantier @iain-b
/tech-insights-backend-module-jsonfc        @backstage/reviewers @xantier @iain-b
/tech-insights-tech-insights-common         @backstage/reviewers @xantier @iain-b
/tech-insights-tech-insights-node           @backstage/reviewers @xantier @iain-b
/packages/embedded-techdocs-app             @backstage/techdocs-core
/packages/search-common                     @backstage/techdocs-core
/packages/techdocs-cli                      @backstage/techdocs-core
/packages/techdocs-common                   @backstage/techdocs-core
/.changeset/cost-insights-*                 @backstage/reviewers @backstage/silver-lining
/.changeset/search-*                        @backstage/techdocs-core
/.changeset/techdocs-*                      @backstage/techdocs-core
/cypress/src/integration/plugins/techdocs.spec.ts   @backstage/techdocs-core
