# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                     @spotify/backstage-core
/plugins/techdocs     @spotify/techdocs-core
/packages/techdocs-cli @spotify/techdocs-core
