.container {
  display: flex;
  background-color: var(--canon-surface-1);
  padding: var(--canon-space-5);
  border-radius: var(--canon-border-radius-xs);
  border: 1px solid var(--canon-border-base);
  margin-bottom: var(--canon-space-5);
  gap: var(--canon-space-5);
  transition: background-color 0.2s ease-in-out;
}

.icon path {
  fill: var(--canon-text-primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  max-width: 700px;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--canon-surface-2);
  border: 1px solid var(--canon-border-base);
  border-radius: var(--canon-border-radius-xs);
  padding: 0 var(--canon-space-3);
  height: 28px;
  border-radius: 100px;
  margin-top: var(--canon-space-3);
  font-size: var(--canon-font-size-body);
  color: var(--canon-text-primary);
  gap: var(--canon-space-2);
}
