# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[*.html]
indent_style = space
indent_size = 2

[*.{ts,json,js,tsx,jsx}]
indent_style = space
indent_size = 2

[*.md]
indent_size = 2
indent_style = space

[Dockerfile]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_size = 2
indent_style = space
