**/node_modules/**
**/dist/**
**/dist-types/**
**/storybook-static/**
**/coverage/**
**/build/**
**/.git/**
**/public/**
**/microsite/**
**/canon-docs/**
**/templates/**
**/sample-templates/**
playwright.config.ts
