app:
  title: DFDS Backstage
  baseUrl: http://localhost:3000
  listen:
    host: 0.0.0.0
    public: localhost:3000
  googleAnalyticsTrackingId: # UA-000000-0
  support:
    url: https://github.com/backstage/backstage/issues # Used by common ErrorPage
    items: # Used by common SupportButton component
      - title: Issues
        icon: github
        links:
          - url: https://github.com/backstage/backstage/issues
            title: GitHub Issues
      - title: Discord Chatroom
        icon: chat
        links:
          - url: https://discord.gg/MUpMjP2
            title: '#backstage'

backend:
  baseUrl: http://localhost:7000
  listen:
    port: 7000
  database:
    client: pg
    connection:
      host:
        $env: DATABASE_HOST
      port:
        $env: DATABASE_PORT
      user:
        $env: DATABASE_USER
      password:
        $env: DATABASE_PASSWORD
  cache:
    store: memory
  cors:
    origin:
      $env: BACKEND_CORS_ORIGIN
    methods: [GET, POST, PUT, DELETE]
    credentials: true
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  reading:
    allow:
      - host: example.com
      - host: '*.mozilla.org'
      - host: private-aa6799-zaradardfds.apiary-mock.com
  # workingDirectory: /tmp # Use this to configure a working directory for the scaffolder, defaults to the OS temp-dir

# See README.md in the proxy-backend plugin for information on the configuration format
proxy:
  '/circleci/api':
    target: https://circleci.com/api/v1.1
    headers:
      Circle-Token: ${CIRCLECI_AUTH_TOKEN}

  '/jenkins/api':
    target: http://localhost:8080
    headers:
      Authorization: ${JENKINS_BASIC_AUTH_HEADER}

  '/travisci/api':
    target: https://api.travis-ci.com
    changeOrigin: true
    headers:
      Authorization: ${TRAVISCI_AUTH_TOKEN}
      travis-api-version: '3'

  '/newrelic/apm/api':
    target: https://api.newrelic.com/v2
    headers:
      X-Api-Key: ${NEW_RELIC_REST_API_KEY}

  '/pagerduty':
    target: https://api.pagerduty.com
    headers:
      Authorization: ${PAGERDUTY_TOKEN}

  '/buildkite/api':
    target: https://api.buildkite.com/v2/
    headers:
      Authorization: ${BUILDKITE_TOKEN}

  '/sentry/api':
    target: https://sentry.io/api/
    allowedMethods: ['GET']
    headers:
      Authorization: ${SENTRY_TOKEN}

  '/ilert':
    target: https://api.ilert.com
    allowedMethods: ['GET', 'POST', 'PUT']
    allowedHeaders: ['Authorization']
    headers:
      Authorization: ${ILERT_AUTH_HEADER}

  '/dfds-api/capsvc':
    target: ${DFDS_API_CAPSVC_ENDPOINT}
    allowedMethods: ['GET', 'POST', 'PUT']
    allowedHeaders: ['Authorization']

  '/dfds-api/capkafkasvc':
    target: ${DFDS_API_CAPKAFKASVC_ENDPOINT}
    allowedMethods: ['GET', 'POST', 'PUT']
    allowedHeaders: ['Authorization']

  '/dfds-api/inventa':
    target: ${DFDS_API_INVENTA_ENDPOINT}
    allowedMethods: ['GET', 'POST', 'PUT']
    allowedHeaders: ['Authorization']

  '/dfds-api/cost-janitor':
    target: ${DFDS_API_COST_JANITOR_ENDPOINT}
    allowedMethods: ['GET', 'POST', 'PUT']
    allowedHeaders: ['Authorization']

  '/dfds-api/azure-devops-janitor':
    target: ${DFDS_API_AZURE_DEVOPS_JANITOR_ENDPOINT}
    allowedMethods: ['GET', 'POST', 'PUT']
    allowedHeaders: ['Authorization']

organization:
  name: DFDS

# Reference documentation http://backstage.io/docs/features/techdocs/configuration
# Note: After experimenting with basic setup, use CI/CD to generate docs
# and an external cloud storage when deploying TechDocs for production use-case.
# https://backstage.io/docs/features/techdocs/how-to-guides#how-to-migrate-from-techdocs-basic-to-recommended-deployment-approach
techdocs:
  builder: 'local' # Alternatives - 'external'
  generators:
    techdocs: 'docker' # Alternatives - 'local'
  publisher:
    type: 'local' # Alternatives - 'googleGcs' or 'awsS3' or 'azureBlobStorage' or 'openStackSwift'. Read documentation for using alternatives.

sentry:
  organization: DFDS

rollbar:
  organization: DFDS
  # NOTE: The rollbar-backend & accountToken key may be deprecated in the future (replaced by a proxy config)
  accountToken: my-rollbar-account-token

lighthouse:
  baseUrl: http://localhost:3003

kubernetes:
  serviceLocatorMethod:
    type: 'multiTenant'
  clusterLocatorMethods:
    - type: 'config'
      clusters:
        - url: https://B182759F93D251942CB146063F57036B.yl4.eu-west-1.eks.amazonaws.com
          name: hellman
          authProvider: 'serviceAccount'
          serviceAccountToken:
            $env: HELLMAN_SERVICE_ACCOUNT_TOKEN

kafka:
  clientId: backstage
  clusters:
    - name: cluster
      brokers:
        - $env: KAFKA_CLUSTER
      ssl: false

integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}
    ### Example for how to add your GitHub Enterprise instance using the API:
    # - host: ghe.example.net
    #   apiBaseUrl: https://ghe.example.net/api/v3
    #   token: ${GHE_TOKEN}
    ### Example for how to add your GitHub Enterprise instance using raw HTTP fetches (token is optional):
    # - host: ghe.example.net
    #   rawBaseUrl: https://ghe.example.net/raw
    #   token: ${GHE_TOKEN}
  gitlab:
    - host: gitlab.com
      token: ${GITLAB_TOKEN}
  bitbucket:
    - host: bitbucket.org
      username: ${BITBUCKET_USERNAME}
      appPassword: ${BITBUCKET_APP_PASSWORD}
  azure:
    - host: dev.azure.com
      token: ${AZURE_TOKEN}
#  googleGcs:
#    clientEmail: 'example@example.com'
#    privateKey: ${GCS_PRIVATE_KEY}

catalog:
  rules:
    - allow:
        - Component
        - API
        - Resource
        - Group
        - User
        - Template
        - System
        - Domain
        - Location
        - Capability

  processors:
    githubOrg:
      providers:
        - target: https://github.com
          token: ${GITHUB_TOKEN}
        #### Example for how to add your GitHub Enterprise instance using the API:
        # - target: https://ghe.example.net
        #   apiBaseUrl: https://ghe.example.net/api
        #   token: ${GHE_TOKEN}
    ldapOrg:
      ### Example for how to add your enterprise LDAP server
      # providers:
      #   - target: ldaps://ds.example.net
      #     bind:
      #       dn: uid=ldap-reader-user,ou=people,ou=example,dc=example,dc=net
      #       secret: ${LDAP_SECRET}
      #     users:
      #       dn: ou=people,ou=example,dc=example,dc=net
      #       options:
      #         filter: (uid=*)
      #       map:
      #         description: l
      #     groups:
      #       dn: ou=access,ou=groups,ou=example,dc=example,dc=net
      #       options:
      #         filter: (&(objectClass=some-group-class)(!(groupType=email)))
    microsoftGraphOrg:
      ### Example for how to add your Microsoft Graph tenant
      #providers:
      #  - target: https://graph.microsoft.com/v1.0
      #    authority: https://login.microsoftonline.com
      #    tenantId: ${MICROSOFT_GRAPH_TENANT_ID}
      #    clientId: ${MICROSOFT_GRAPH_CLIENT_ID}
      #    clientSecret: ${MICROSOFT_GRAPH_CLIENT_SECRET_TOKEN}
      #    userFilter: accountEnabled eq true and userType eq 'member'
      #    groupFilter: securityEnabled eq false and mailEnabled eq true and groupTypes/any(c:c+eq+'Unified')

  locations:
    # Add a location here to ingest it, for example from a URL:
    #
    #     - type: url
    #       target: https://github.com/backstage/backstage/blob/master/packages/catalog-model/examples/all-components.yaml
    #
    # For local development you can use a file location instead:
    #
    #     - type: file
    #       target: ../catalog-model/examples/all-components.yaml
    #
    # File locations are relative to the current working directory of the
    # # backend, for example packages/backend/.

    # # Backstage example components
    # - type: file
    #   target: ../catalog-model/examples/all-components.yaml
    # # Example component for github-actions and TechDocs
    # - type: file
    #   target: ../../plugins/github-actions/examples/sample.yaml
    # # Example component for TechDocs
    # - type: file
    #   target: ../../plugins/techdocs-backend/examples/documented-component/catalog-info.yaml
    # # Backstage example APIs
    # - type: file
    #   target: ../catalog-model/examples/all-apis.yaml
    # # Backstage example resources
    # - type: file
    #   target: ../catalog-model/examples/all-resources.yaml
    # # Backstage example systems
    # - type: file
    #   target: ../catalog-model/examples/all-systems.yaml
    # # Backstage example domains
    # - type: file
    #   target: ../catalog-model/examples/all-domains.yaml
    # # Backstage example templates
    # - type: file
    #   target: ../../plugins/scaffolder-backend/sample-templates/all-templates.yaml
    # # Backstage example groups and users
    # - type: file
    #   target: ../catalog-model/examples/acme-corp.yaml
    - type: dfds-capability
      target: 'https://private-aa6799-zaradardfds.apiary-mock.com'

scaffolder:
  github:
    token: ${GITHUB_TOKEN}
    visibility: public # or 'internal' or 'private'
  gitlab:
    api:
      baseUrl: https://gitlab.com
      token: ${GITLAB_TOKEN}
    visibility: public # or 'internal' or 'private'
  azure:
    baseUrl: https://dev.azure.com/{your-organization}
    api:
      token: ${AZURE_TOKEN}
  bitbucket:
    api:
      host: https://bitbucket.org
      username: ${BITBUCKET_USERNAME}
      token: ${BITBUCKET_TOKEN}
    visibility: public # or or 'private'

auth:
  environment: development
  ### Providing an auth.session.secret will enable session support in the auth-backend
  # session:
  #   secret: custom session secret
  providers:
    microsoft:
      development:
        clientId:
          $env: AUTH_MICROSOFT_CLIENT_ID
        clientSecret:
          $env: AUTH_MICROSOFT_CLIENT_SECRET
        tenantId:
          $env: AUTH_MICROSOFT_TENANT_ID
costInsights:
  engineerCost: 200000
  products:
    computeEngine:
      name: Compute Engine
      icon: compute
    cloudDataflow:
      name: Cloud Dataflow
      icon: data
    cloudStorage:
      name: Cloud Storage
      icon: storage
    bigQuery:
      name: BigQuery
      icon: search
    events:
      name: Events
      icon: data
  metrics:
    DAU:
      name: Daily Active Users
      default: true
    MSC:
      name: Monthly Subscribers
homepage:
  clocks:
    - label: UTC
      timezone: UTC
    - label: NYC
      timezone: 'America/New_York'
    - label: STO
      timezone: 'Europe/Stockholm'
    - label: TYO
      timezone: 'Asia/Tokyo'
pagerduty:
  eventsBaseUrl: 'https://events.pagerduty.com/v2'
