###
# The environment you want to run the frontend (running using create-react-app) in.
# In production, these should be `production` and false respectively.
###
NODE_ENV=development
NODE_DEBUG=true

###
# This is the full HTTP endpoint to the GraphQL API you'll want to point to.
# For example (in development): http://localhost:8080/graphql
###
REACT_APP_GRAPHQL_API=""

###
# A valid GitHub access token. You'll need to give it access to "repo".
# To create one, visit https://github.com/settings/tokens in your browser.
###
BOSS_GH_USERNAME=""
BOSS_GH_ACCESS_TOKEN=""
