.codeBlock {
  border-radius: 8px;
  position: relative;
  background: transparent;
  overflow-x: auto;
  font-family: var(--font-mono);
  background-color: var(--code-bg);
  margin-bottom: 1rem;
}

.title {
  padding: 12px 20px;
  font-size: 0.8125rem;
  color: #fff;
  font-family: var(--font-regular);
  font-weight: var(--font-weight-bold);
  background-color: var(--code-title);
}

.title code {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.2rem 0.375rem;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
}

.code {
  padding: 20px;
}
