.codeBlock {
  border-radius: 4px;
  border: 1px solid var(--border);
  position: relative;
  background: transparent;
  overflow-x: auto;
  font-family: var(--font-mono);
  background-color: #fff;
  margin-bottom: 1rem;
}

[data-theme-mode='dark'] .codeBlock {
  background-color: #121212;
}

.title {
  border-bottom: 1px solid var(--border);
  padding: 12px 20px;
  font-size: 0.8125rem;
  color: var(--primary);
  font-family: var(--font-regular);
  font-weight: var(--font-weight-bold);
}

.title code {
  background-color: var(--surface-1);
  padding: 0.2rem 0.375rem;
  border-radius: 0.25rem;
  color: var(--secondary);
  font-size: 0.8125rem;
}

.code {
  padding: 20px;
}
