.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  color: var(--canon-text-primary);
  background-color: var(--canon-surface-1);
  border-right: 1px solid var(--canon-border-base);
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar svg path {
  fill: var(--canon-text-primary);
}

.content {
  padding-top: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.menu {
  margin-top: 48px;
}

.menu a {
  display: block;
  text-decoration: none;
  height: 1.75rem;
}
