:root {
  --ifm-color-primary-lightest: #66d2bf;
  --ifm-color-primary-lighter: #4acab3;
  --ifm-color-primary-light: #40c8af;
  --ifm-color-primary: #36baa2;
  --ifm-color-primary-dark: #31a792;
  --ifm-color-primary-darker: #2e9e8a;
  --ifm-color-primary-darkest: #268271;
}

html[data-theme='dark'] {
  --ifm-grey-background: linear-gradient(
    90.49deg,
    #121212 15.36%,
    #282828 70.44%
  );
  --ifm-green-gradient-background: linear-gradient(
    70.44deg,
    #121212 55%,
    #5d817b
  );
  --bullet-line-color: linear-gradient(
    89.75deg,
    #9bf0e1 -1.5%,
    rgba(155, 240, 225, 0) 111.48%
  );
  --ifm-button-border-color: var(--ifm-color-primary-darker);

  /* Logo */
  --backstage-logo: url(/img/logo.svg);
}

html[data-theme='light'] {
  --ifm-color-primary: var(--ifm-color-primary-darkest);
  --ifm-grey-background: linear-gradient(
    90.49deg,
    #e0e0e0 15.36%,
    #f5f5f5 70.44%
  );
  --ifm-green-gradient-background: linear-gradient(
    70.44deg,
    #e0f7f4 55%,
    #a3d9d2
  );
  --ifm-breadcrumb-item-background-active: #f8f8f8;
  --bullet-line-color: linear-gradient(
    89.75deg,
    var(--ifm-color-primary-dark) -1.5%,
    rgba(155, 240, 225, 0) 111.48%
  );
  --ifm-font-color-base: #000000;
  --ifm-menu-color: #6E;
  --feedback-button-dark-text-color: #f8f8f8;

  /* Active Colors */
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-darkest);
  --ifm-menu-color-active: var(--ifm-color-primary-darkest);
  --ifm-link-color: var(--ifm-color-primary-darkest);
  --ifm-link-color-hover: var(--ifm-color-primary-darkest);

  /* Logo */
  --backstage-logo: url(/img/logo-black.svg);
}

// for docs and releases
#__docusaurus {
  .theme-doc-markdown {
    a {
      text-decoration: underline;
    }
  }
}
// for blog
#__docusaurus {
  .row {
    .col {
      &--7 {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
// for community page
#__docusaurus {
  div[class^='communityPage'],
  div[class*='communityPage'] {
    a:not([class]) {
      text-decoration: underline;
    }
  }
}
// for plugin page
#__docusaurus {
  div[class^='pluginsPage'],
  div[class*='pluginsPage'] {
    a:not([class]) {
      text-decoration: underline;
    }
  }
}
.footerLogo {
  background-image: var(--backstage-logo);
  background-repeat: no-repeat;
  height: 40px;
  width: 180px;
  margin-top: 0px;
}

.copyright {
  font-size: 10pt;
}

/* logo.md */
.logoWhite {
  background-color: white;
}

/* #region Utility API Styling */
.textGreen {
  color: #82b366;
}
.textBlue {
  color: #6c8ebf;
}
.textPurple {
  color: #9673a6;
}
.textYellow {
  color: #d6b656;
}
.textRed {
  color: #b85450;
}
.textAlignCenter {
  text-align: center;
}
/* #endregion */

/* #region Utility component styles */
.bulletLine {
  height: 3px;
  background: var(--bullet-line-color);
}
/* #endregion */

/* prism magic comments https://docusaurus.io/docs/markdown-features/code-blocks#custom-magic-comments */

.code-block-add-line {
  background-color: rgba(0, 255, 0, 0.125);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid rgba(0, 255, 0, 0.5);
}

.code-block-remove-line {
  background-color: rgba(255, 0, 0, 0.125);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid rgba(255, 0, 0, 0.5);
}

.code-block-highlight-line {
  background-color: rgba(255, 255, 255, 0.08);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid rgb(255, 255, 255, 0.5);
}

table {
  width: 100%;
  display: table;
}

/* #endregion */

/* For the docusaurus-pushfeedback plugin */
:root {
  --feedback-primary-color: var(--ifm-color-primary);
  --feedback-button-dark-text-color: var(--ifm-color-black);

  --feedback-modal-button-submit-bg-color: var(--ifm-color-primary);
  --feedback-modal-button-submit-bg-color-hover: var(--ifm-color-primary-dark);

  --feedback-modal-button-submit-text-color: var(--ifm-color-black);
  --feedback-modal-button-submit-text-color-hover: var(--ifm-color-black);

  --feedback-button-text-font-size: 1rem;
  --feedback-button-text-font-weight: 600;
}

/* Hide feedback button unless we're in docs */
feedback-button {
  display: none;
}
html.plugin-docs feedback-button {
  display: initial;
}

/* Navbar icon links */
.header-github-link:hover,
.header-discord-link:hover {
  opacity: 0.6;
}

.header-github-link::before,
.header-discord-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
}

.header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='light'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-discord-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0 12.64 12.64 0 0 0-.617-1.25.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057 19.9 19.9 0 0 0 5.993 3.03.078.078 0 0 0 .084-.028c.462-.63.874-1.295 1.226-1.994a.076.076 0 0 0-.041-.106 13.107 13.107 0 0 1-1.872-.892.077.077 0 0 1-.008-.128 10.2 10.2 0 0 0 .372-.292.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127 12.299 12.299 0 0 1-1.873.892.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028 19.839 19.839 0 0 0 6.002-3.03.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03zM8.02 15.33c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.956-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.956 2.418-2.157 2.418zm7.975 0c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.955-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.946 2.418-2.157 2.418z'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='light'] .header-discord-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%235865F2' d='M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0 12.64 12.64 0 0 0-.617-1.25.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057 19.9 19.9 0 0 0 5.993 3.03.078.078 0 0 0 .084-.028c.462-.63.874-1.295 1.226-1.994a.076.076 0 0 0-.041-.106 13.107 13.107 0 0 1-1.872-.892.077.077 0 0 1-.008-.128 10.2 10.2 0 0 0 .372-.292.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127 12.299 12.299 0 0 1-1.873.892.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028 19.839 19.839 0 0 0 6.002-3.03.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03zM8.02 15.33c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.956-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.956 2.418-2.157 2.418zm7.975 0c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.955-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.946 2.418-2.157 2.418z'/%3E%3C/svg%3E")
    no-repeat;
}
