.communityPage {
  // --ifm-spacing-horizontal: 2rem;

  font-size: 1.25rem;

  h1 {
    font-size: 54px;
    line-height: 56px;
    word-break: break-word;
  }
}

.banner {
  p {
    flex: 1;
    text-align: left;
  }

  iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
}
