.canon-Button {
  user-select: none;
  font-family: var(--canon-font-regular);
  font-weight: var(--canon-font-weight-bold);
  cursor: pointer;
  border-radius: var(--canon-radius-2);
  justify-content: center;
  align-items: center;
  gap: var(--canon-space-1_5);
  border: none;
  padding: 0;
  display: inline-flex;

  &:disabled {
    cursor: not-allowed;
  }
}

.canon-Button--variant-primary {
  background-color: var(--canon-bg-solid);
  color: var(--canon-fg-solid);
  transition: background-color .15s, box-shadow .15s;

  &:hover {
    background-color: var(--canon-bg-solid-hover);
  }

  &:active {
    background-color: var(--canon-bg-solid-pressed);
  }

  &:focus-visible {
    outline: 2px solid var(--canon-ring);
    outline-offset: 2px;
  }

  &:disabled {
    background-color: var(--canon-bg-solid-disabled);
    color: var(--canon-fg-solid-disabled);
  }
}

.canon-Button--variant-secondary {
  background-color: var(--canon-bg-surface-1);
  box-shadow: inset 0 0 0 1px var(--canon-border);
  color: var(--canon-fg-primary);
  transition: box-shadow .15s;

  &:hover {
    box-shadow: inset 0 0 0 1px var(--canon-border-hover);
  }

  &:active {
    box-shadow: inset 0 0 0 1px var(--canon-border-pressed);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--canon-ring);
    outline: none;
    transition: none;
  }

  &:disabled {
    box-shadow: inset 0 0 0 1px var(--canon-border-disabled);
    color: var(--canon-fg-disabled);
  }
}

.canon-Button--size-medium {
  font-size: var(--canon-font-size-4);
  padding: 0 var(--canon-space-3);
  height: 40px;
}

.canon-Button--size-small {
  font-size: var(--canon-font-size-3);
  padding: 0 var(--canon-space-2);
  height: 32px;
}

.canon-Button--size-small .canon-Button--icon {
  width: 1rem;
  height: 1rem;
}

.canon-Button--size-medium .canon-Button--icon {
  width: 1.5rem;
  height: 1.5rem;
}
