.canon-TextFieldLabelWrapper {
  margin-bottom: var(--canon-space-3);
  gap: var(--canon-space-1);
  flex-direction: column;
  display: flex;
}

.canon-TextFieldLabel {
  color: var(--canon-fg-primary);
  cursor: pointer;
  font-weight: var(--canon-font-weight-regular);
  font-size: var(--canon-font-size-2);
  margin-right: auto;
}

.canon-TextFieldSecondaryLabel {
  color: var(--canon-fg-secondary);
  font-weight: var(--canon-font-weight-regular);
  margin-left: var(--canon-space-1);
}

.canon-TextFieldDescription {
  font-weight: var(--canon-font-weight-regular);
  font-size: var(--canon-font-size-2);
  color: var(--canon-fg-secondary);
  margin: 0;
}
