.canon-Heading {
  font-family: var(--canon-font-regular);
  color: var(--canon-fg-primary);
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.canon-Heading[data-variant="display"] {
  font-size: var(--canon-font-size-10);
  font-weight: var(--canon-font-weight-bold);
}

.canon-Heading[data-variant="title1"] {
  font-size: var(--canon-font-size-9);
  font-weight: var(--canon-font-weight-bold);
}

.canon-Heading[data-variant="title2"] {
  font-size: var(--canon-font-size-8);
  font-weight: var(--canon-font-weight-bold);
}

.canon-Heading[data-variant="title3"] {
  font-size: var(--canon-font-size-7);
  font-weight: var(--canon-font-weight-bold);
}

.canon-Heading[data-variant="title4"] {
  font-size: var(--canon-font-size-6);
  font-weight: var(--canon-font-weight-bold);
}

.canon-Heading[data-variant="title5"] {
  font-size: var(--canon-font-size-5);
  font-weight: var(--canon-font-weight-bold);
}

.canon-Heading[data-color="primary"] {
  color: var(--canon-fg-primary);
}

.canon-Heading[data-color="secondary"] {
  color: var(--canon-fg-secondary);
}

.canon-Heading[data-truncate] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
