.canon-MenuPositioner {
  outline: 0;
}

.canon-MenuPopup {
  background-color: var(--canon-bg-surface-1);
  border: 1px solid var(--canon-border);
  color: var(--canon-fg-primary);
  transform-origin: var(--transform-origin);
  max-width: min(var(--available-width), 340px);
  max-height: min(var(--available-height), 500px);
  padding-bottom: var(--canon-space-1);
  border-radius: .375rem;
  outline: none;
  flex-direction: column;
  transition: transform .15s, opacity .15s;
  display: flex;
  position: relative;
  overflow: auto;

  &[data-starting-style], &[data-ending-style] {
    opacity: 0;
    transform: scale(.9);
  }
}

.canon-MenuItem {
  user-select: none;
  align-items: center;
  gap: var(--canon-space-2);
  height: 32px;
  color: var(--canon-fg-primary);
  border-radius: var(--canon-radius-2);
  margin-inline: var(--canon-space-1);
  padding-inline: var(--canon-space-2);
  font-size: var(--canon-font-size-3);
  cursor: pointer;
  outline: 0;
  flex-shrink: 0;
  text-decoration: none;
  display: flex;

  &:first-child {
    margin-top: var(--canon-space-1);
  }

  &[data-highlighted] {
    background-color: var(--canon-gray-3);
  }
}

.canon-MenuSubmenuTrigger {
  user-select: none;
  justify-content: space-between;
  align-items: center;
  gap: var(--canon-space-2);
  height: 32px;
  color: var(--canon-fg-primary);
  border-radius: var(--canon-radius-2);
  margin-inline: var(--canon-space-1);
  padding-inline: var(--canon-space-2);
  font-size: var(--canon-font-size-3);
  cursor: pointer;
  outline: 0;
  flex-shrink: 0;
  text-decoration: none;
  display: flex;

  & .canon-Icon {
    color: var(--canon-fg-secondary);
  }

  &:first-child {
    margin-top: var(--canon-space-1);
  }

  &[data-popup-open], &[data-highlighted] {
    background-color: var(--canon-gray-3);

    & .canon-Icon {
      color: var(--canon-fg-primary);
    }
  }
}

.canon-MenuSeparator {
  background-color: var(--color-gray-200);
  height: 1px;
  margin: .375rem 1rem;
}

.canon-SubmenuComboboxSearch {
  padding-inline: var(--canon-space-3);
  border: none;
  border-bottom: 1px solid var(--canon-border);
  background-color: var(--canon-bg-surface-1);
  width: 100%;
  height: 32px;
  color: var(--canon-fg-primary);
  line-height: 140%;
  font-size: var(--canon-font-size-3);
  z-index: 1;
  outline: none;
  position: sticky;
  top: 0;

  &::placeholder {
    color: var(--canon-fg-secondary);
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}

.canon-SubmenuComboboxItems {
  padding-top: var(--canon-space-2);
  outline: none;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
}

.canon-SubmenuComboboxNoResults {
  padding-inline: var(--canon-space-3);
  padding-top: var(--canon-space-2);
  padding-bottom: var(--canon-space-4);
  color: var(--canon-fg-secondary);
  font-size: var(--canon-font-size-3);
}

.canon-SubmenuComboboxItem {
  user-select: none;
  justify-content: space-between;
  align-items: center;
  gap: var(--canon-space-2);
  height: 32px;
  color: var(--canon-fg-primary);
  border-radius: var(--canon-radius-2);
  margin-inline: var(--canon-space-1);
  padding-inline: var(--canon-space-2);
  font-size: var(--canon-font-size-3);
  cursor: pointer;
  outline: 0;
  flex-shrink: 0;
  text-decoration: none;
  display: flex;

  &[data-highlighted] {
    background-color: var(--canon-gray-3);
  }

  &[data-disabled] {
    opacity: .5;
    cursor: not-allowed;
  }
}

.canon-SubmenuComboboxItemCheckbox {
  width: 16px;
  height: 16px;
  color: var(--canon-fg-primary);
  border-radius: var(--canon-radius-2);
  border: 1px solid var(--canon-border);
  background: var(--canon-bg-surface-1);
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.canon-SubmenuComboboxItemLabel {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  overflow: hidden;
}
