.canon-FieldRoot {
  font-family: var(--canon-font-regular);
  flex-direction: column;
  width: 100%;
  display: flex;
}

.canon-FieldLabel {
  font-size: var(--canon-font-size-2);
  font-weight: var(--canon-font-weight-regular);
  color: var(--canon-fg-primary);
  margin-bottom: var(--canon-space-1_5);
}

.canon-FieldDescription {
  font-size: var(--canon-font-size-2);
  font-weight: var(--canon-font-weight-regular);
  color: var(--canon-fg-secondary);
  padding-top: var(--canon-space-1_5);
  margin: 0;
}

.canon-FieldError {
  font-size: var(--canon-font-size-2);
  font-weight: var(--canon-font-weight-regular);
  color: var(--canon-fg-danger);
  padding-top: var(--canon-space-1_5);
  margin: 0;
}

.canon-Input {
  border-radius: var(--canon-radius-3);
  border: 1px solid var(--canon-border);
  padding: 0 var(--canon-space-4);
  background-color: var(--canon-bg-surface-1);
  font-size: var(--canon-font-size-3);
  font-family: var(--canon-font-regular);
  font-weight: var(--canon-font-weight-regular);
  color: var(--canon-fg-primary);
  width: 100%;
  transition: border-color .2s ease-in-out, outline-color .2s ease-in-out;
}

.canon-Input::placeholder {
  color: var(--canon-fg-secondary);
}

.canon-Input:hover {
  border-color: var(--canon-border-hover);
}

.canon-Input:focus-visible {
  outline-color: var(--canon-border-pressed);
  border-color: var(--canon-border-pressed);
  outline-width: 0;
}

.canon-Input[data-invalid] {
  border-color: var(--canon-fg-danger);
}

.canon-Input[data-disabled] {
  opacity: .5;
  cursor: not-allowed;
  border: 1px solid var(--canon-border-disabled);
}

.canon-Input--size-small {
  height: 2rem;
}

.canon-Input--size-medium {
  height: 2.5rem;
}
