.canon-TextField {
  font-family: var(--canon-font-regular);
  flex-direction: column;
  width: 100%;
  display: flex;
}

.canon-TextFieldInputWrapper {
  position: relative;
}

.canon-TextFieldInputWrapper[data-size="small"] {
  height: 2rem;
}

.canon-TextFieldInputWrapper[data-size="medium"] {
  height: 2.5rem;
}

.canon-TextFieldIcon {
  left: var(--canon-space-3);
  margin-right: var(--canon-space-1);
  color: var(--canon-fg-primary);
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.canon-TextFieldIcon[data-size="small"], .canon-TextFieldIcon[data-size="small"] svg {
  width: 1rem;
  height: 1rem;
}

.canon-TextFieldIcon[data-size="medium"], .canon-TextFieldIcon[data-size="medium"] svg {
  width: 1.25rem;
  height: 1.25rem;
}

.canon-TextFieldInput {
  padding: 0 var(--canon-space-3);
  border-radius: var(--canon-radius-3);
  border: 1px solid var(--canon-border);
  background-color: var(--canon-bg-surface-1);
  font-size: var(--canon-font-size-3);
  font-family: var(--canon-font-regular);
  font-weight: var(--canon-font-weight-regular);
  color: var(--canon-fg-primary);
  width: 100%;
  height: 100%;
  cursor: inherit;
  align-items: center;
  transition: border-color .2s ease-in-out, outline-color .2s ease-in-out;
  display: flex;
}

.canon-TextFieldInput::placeholder {
  color: var(--canon-fg-secondary);
}

.canon-TextFieldInput[data-icon] {
  padding-left: var(--canon-space-8);
}

.canon-TextFieldInput[data-focused] {
  outline-color: var(--canon-border-pressed);
  outline-width: 0;
}

.canon-TextFieldInput[data-hovered] {
  border-color: var(--canon-border-hover);
}

.canon-TextFieldInput[data-focused] {
  border-color: var(--canon-border-pressed);
  outline-width: 0;
}

.canon-TextFieldInput[data-invalid] {
  border-color: var(--canon-fg-danger);
}

.canon-TextFieldInput[data-disabled] {
  opacity: .5;
  cursor: not-allowed;
  border: 1px solid var(--canon-border-disabled);
}

.canon-TextFieldError {
  color: var(--canon-fg-danger);
  font-size: var(--canon-font-size-2);
  font-weight: var(--canon-font-weight-regular);
  margin-top: var(--canon-space-2);
}
