.bui-TableRoot {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
}

.bui-TableHead {
  text-align: left;
  padding: var(--bui-space-3);
  font-size: var(--bui-font-size-3);
  color: var(--bui-fg-primary);
}

.bui-TableBody {
  color: var(--bui-fg-primary);
}

.bui-TableRow {
  border-bottom: 1px solid var(--bui-border);
  transition: color 0.2s ease-in-out;
}

.bui-TableBody .bui-TableRow:hover {
  background-color: var(--bui-gray-2);
}
