.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 16px;
    left: 16px;
    border-radius: 8px;
    width: 300px;
    height: calc(100vh - 32px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.025);
    color: var(--primary);
    background-color: var(--panel);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    overflow: hidden;
  }
}

.root {
  height: 100%;
}

.viewport {
  overflow: scroll;
  height: 100%;
}

.content {
  padding: 0 20px 20px;
}

.logoContainer {
  padding-left: 6px;
  padding-top: 32px;
}

.logo path {
  fill: var(--primary);
}

.menu {
  display: flex;
  flex-direction: row;
  position: relative;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sectionTitle {
  font-size: var(--canon-font-size-3);
  font-weight: var(--canon-font-weight-bold);
  padding: 12px 0;
  color: var(--primary);
  margin-top: 24px;
}

.line {
  text-decoration: none;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  padding: 0 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--bg);
  }
}

.line.active {
  background-color: var(--bg);
}

.line.active .lineTitle {
  color: var(--primary);
}

.lineTitle {
  font-size: var(--canon-font-size-3);
  font-weight: var(--canon-font-weight-regular);
  color: var(--secondary);
}

.lineStatus {
  font-size: var(--canon-font-size-3);
  color: var(--secondary);
}

.scrollbar {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 0.25rem;
  border-radius: 0.375rem;
  margin: 0.5rem;
  opacity: 0;
  transition: opacity 150ms 300ms;
  right: -20px;

  &[data-hovering],
  &[data-scrolling] {
    opacity: 1;
    transition-duration: 75ms;
    transition-delay: 0ms;
  }

  &::before {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 100%;
  }
}

.thumb {
  width: 100%;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}
