.library {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80px;
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  background-color: var(--canon-bg);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--canon-bg-elevated);
  }
}
