.canon-TableRoot {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
}

.canon-TableHead {
  text-align: left;
  padding: var(--bui-space-3);
  font-size: var(--bui-font-size-3);
  color: var(--bui-fg-primary);
}

.canon-TableBody {
  color: var(--bui-fg-primary);
}

.canon-TableRow {
  border-bottom: 1px solid var(--bui-border);
  transition: color 0.2s ease-in-out;
}

.canon-TableBody .canon-TableRow:hover {
  background-color: var(--bui-gray-2);
}
