.container {
  position: relative;
  z-index: 20;
  margin-bottom: 48px;
  padding-inline: 24px;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: calc(100% - 260px);
    margin-left: 260px;
    margin-right: 40px;
  }
}
