/* Light theme */
:root {
  --canon-accent: #1ed760;
  --canon-background: #fff;
  --canon-surface-1: #f5f5f5;
  --canon-surface-2: #000;
  --canon-outline: #666;
  --canon-outline-focus: #ccc;
  --canon-error: #f50000;
  --canon-text-primary: #f0f0f0;
  --canon-text-secondary: #666;
  --canon-box-shadow-small: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --canon-box-shadow-medium: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --canon-box-shadow-large: 0 0 0 1px rgba(0, 0, 0, 0.2);

  --canon-font-sans: 'Geist', serif;
  --canon-font-monospace: 'Monospace', monospace;
  --canon-font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
}

/* Dark theme */
[data-theme='dark'] {
  --canon-accent: #1ed760;
  --canon-background: #fff;
  --canon-surface-1: #f5f5f5;
  --canon-surface-2: #000;
  --canon-outline: #666;
  --canon-outline-focus: #ccc;
  --canon-text-primary: #f0f0f0;
  --canon-text-secondary: #666;
}
