.canon-CheckboxRoot {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  box-shadow: inset 0 0 0 1px var(--canon-border-base);
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;

  &[data-checked] {
    background-color: var(--canon-accent);
  }
}

.canon-checkboxLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--canon-spacing-xs);
  font-size: var(--canon-font-size-xs);
  font-family: var(--canon-font-regular);
  color: var(--canon-text-primary);
  user-select: none;

  &:hover {
    & .canon-CheckboxRoot {
      box-shadow: inset 0 0 0 1px var(--canon-border-hover);
    }
  }
}

.canon-CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--canon-text-primary-on-accent);
}
