.canon-FieldLabelWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--canon-space-3);
  gap: var(--canon-space-1);
}

.canon-FieldLabel {
  color: var(--canon-fg-primary);
  margin-right: auto;
  cursor: pointer;
  font-weight: var(--canon-font-weight-regular);
  font-size: var(--canon-font-size-2);
}

.canon-FieldSecondaryLabel {
  color: var(--canon-fg-secondary);
  font-weight: var(--canon-font-weight-regular);
  margin-left: var(--canon-space-1);
}

.canon-FieldDescription {
  font-weight: var(--canon-font-weight-regular);
  font-size: var(--canon-font-size-2);
  color: var(--canon-fg-secondary);
  margin: 0;
}
