:root {
  --sb-panel-radius: 0;
  --sb-panel-top: 0;
  --sb-panel-bottom: 0;
  --sb-panel-left: 0;
  --sb-panel-right: 0;
  --sb-sidebar-border: none;
  --sb-sidebar-border-right: 1px solid var(--canon-border);
  --sb-options-border: none;
  --sb-options-border-left: 1px solid var(--canon-border);
  --sb-content-padding-inline: 250px;
}

[data-theme-name='spotify'] {
  --sb-panel-radius: var(--canon-radius-3);
  --sb-panel-top: 8px;
  --sb-panel-bottom: 8px;
  --sb-panel-left: 8px;
  --sb-panel-right: 8px;
  --sb-sidebar-border: 1px solid var(--canon-border);
  --sb-options-border: 1px solid var(--canon-border);
  --sb-content-padding-inline: 266px;
}
