
.burst {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* base style of burst shape SVGs */
.burst-shape {
  position: absolute;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.1;
}
