:root {
  --canon-accent: #1ed760;
  --canon-bg: #fff;
  --canon-surface-1: #f5f5f5;
  --canon-surface-2: #000;
  --canon-outline: #666;
  --canon-outline-focus: #ccc;
  --canon-text-primary: #f0f0f0;
  --canon-text-secondary: #666;

  --canon-font-sans: 'Geist', serif;
  --canon-font-monospace: 'Monospace', monospace;
  --canon-font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}
