.bui-DataTablePagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--bui-space-5);
}

.bui-DataTablePagination--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bui-DataTablePagination--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--bui-space-2);
}

.bui-DataTablePagination--select {
  min-width: 10.5rem;
}
