.canon-TabsRoot {
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
}

.canon-TabsList {
  display: flex;
  position: relative;
  z-index: 0;
}

.canon-TabsTab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  outline: 0;
  background: none;
  appearance: none;
  color: var(--canon-fg-secondary);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  user-select: none;
  padding-inline: var(--canon-space-3);
  padding-block: 0;
  height: 2rem;
  font-size: var(--canon-font-size-2);
  transition: color 200ms ease-in-out;
  cursor: pointer;

  &[data-selected] {
    color: var(--canon-fg-primary);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--canon-fg-primary);
    }
  }

  &:focus-visible {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0.25rem 0;
      border-radius: 0.25rem;
      outline: 1px solid var(--canon-ring);
      outline-offset: -1px;
    }
  }
}

.canon-TabsIndicator {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  translate: var(--active-tab-left) -50%;
  width: var(--active-tab-width);
  height: 1px;
  background-color: var(--canon-bg-solid);
  transition-property: translate, width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.canon-TabsPanel {
  &[hidden] {
    display: none;
  }
}
