.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    color: var(--primary);
    overflow: hidden;
  }
}

.logoContainer {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.root {
  height: calc(100% - 80px);
}

.scrollbar {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 0.25rem;
  border-radius: 0.375rem;
  margin: 0.5rem;
  opacity: 0;
  transition: opacity 150ms 300ms;
  right: -20px;

  &[data-scrolling] {
    opacity: 1;
    transition-duration: 75ms;
    transition-delay: 0ms;
  }

  &::before {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 100%;
  }
}

.thumb {
  width: 100%;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}

.viewport {
  overflow: scroll;
  height: 100%;
}

.content {
  padding: 32px 20px 64px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}
