.canon-DataTablePagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--canon-space-5);
}

.canon-DataTablePagination--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.canon-DataTablePagination--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--canon-space-2);
}

.canon-DataTablePagination--select {
  min-width: 10.5rem;
}
