:root {
  --ifm-color-primary-lightest: #66d2bf;
  --ifm-color-primary-lighter: #4acab3;
  --ifm-color-primary-light: #40c8af;
  --ifm-color-primary: #36baa2;
  --ifm-color-primary-dark: #31a792;
  --ifm-color-primary-darker: #2e9e8a;
  --ifm-color-primary-darkest: #268271;
}

.footerLogo {
  background-image: url(/img/logo.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 180px;
  margin-top: 0px;
}

.copyright {
  font-size: 10pt;
}

/* logo.md */
.logoWhite {
  background-color: white;
}

/* Utility API Styling */
.textGreen {
  color: #82b366;
}
.textBlue {
  color: #6c8ebf;
}
.textPurple {
  color: #9673a6;
}
.textYellow {
  color: #d6b656;
}
.textRed {
  color: #b85450;
}
.textAlignCenter {
  text-align: center;
}
/* End of Utility API Styling */
