.canon-MenuPositioner {
  outline: 0;
}

.canon-MenuPopup {
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  background-color: var(--canon-bg-surface-1);
  border: 1px solid var(--canon-border);
  color: var(--canon-fg-primary);
  outline: none;
  overflow: auto;
  transform-origin: var(--transform-origin);
  max-width: min(var(--available-width), 340px);
  max-height: min(var(--available-height), 500px);
  transition: transform 150ms, opacity 150ms;
  position: relative;
  padding-bottom: var(--canon-space-1);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.canon-MenuItem {
  outline: 0;
  user-select: none;
  display: flex;
  height: 32px;
  align-items: center;
  gap: var(--canon-space-2);
  color: var(--canon-fg-primary);
  text-decoration: none;
  border-radius: var(--canon-radius-2);
  margin-inline: var(--canon-space-1);
  padding-inline: var(--canon-space-2);
  font-size: var(--canon-font-size-3);
  cursor: pointer;
  flex-shrink: 0;

  &:first-child {
    margin-top: var(--canon-space-1);
  }

  &[data-highlighted] {
    background-color: var(--canon-gray-3);
  }
}

.canon-MenuSubmenuTrigger {
  outline: 0;
  user-select: none;
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  gap: var(--canon-space-2);
  color: var(--canon-fg-primary);
  text-decoration: none;
  border-radius: var(--canon-radius-2);
  margin-inline: var(--canon-space-1);
  padding-inline: var(--canon-space-2);
  font-size: var(--canon-font-size-3);
  cursor: pointer;
  flex-shrink: 0;

  & .canon-Icon {
    color: var(--canon-fg-secondary);
  }

  &:first-child {
    margin-top: var(--canon-space-1);
  }

  &[data-popup-open],
  &[data-highlighted] {
    background-color: var(--canon-gray-3);

    .canon-Icon {
      color: var(--canon-fg-primary);
    }
  }
}

.canon-MenuSeparator {
  margin: 0.375rem 1rem;
  height: 1px;
  background-color: var(--color-gray-200);
}

.canon-SubmenuComboboxSearch {
  padding-inline: var(--canon-space-3);
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: 1px solid var(--canon-border);
  background-color: var(--canon-bg-surface-1);
  color: var(--canon-fg-primary);
  line-height: 140%;
  outline: none;
  font-size: var(--canon-font-size-3);
  position: sticky;
  top: 0;
  z-index: 1;

  &::placeholder {
    color: var(--canon-fg-secondary);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.canon-SubmenuComboboxItems {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: var(--canon-space-2);
  outline: none;
}

.canon-SubmenuComboboxNoResults {
  padding-inline: var(--canon-space-3);
  padding-top: var(--canon-space-2);
  padding-bottom: var(--canon-space-4);
  color: var(--canon-fg-secondary);
  font-size: var(--canon-font-size-3);
}

.canon-SubmenuComboboxItem {
  outline: 0;
  user-select: none;
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  gap: var(--canon-space-2);
  color: var(--canon-fg-primary);
  text-decoration: none;
  border-radius: var(--canon-radius-2);
  margin-inline: var(--canon-space-1);
  padding-inline: var(--canon-space-2);
  font-size: var(--canon-font-size-3);
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;

  &[data-highlighted] {
    background-color: var(--canon-gray-3);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.canon-SubmenuComboboxItemCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  color: var(--canon-fg-primary);
  flex-shrink: 0;
  border-radius: var(--canon-radius-2);
  border: 1px solid var(--canon-border);
  background: var(--canon-bg-surface-1);
}

.canon-SubmenuComboboxItemLabel {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
