.canon-MenuPositioner {
  outline: 0;
}

.canon-MenuPopup {
  padding: var(--canon-space-2);
  border-radius: 0.375rem;
  background-color: var(--canon-bg-surface-1);
  border: 1px solid var(--canon-border);
  color: var(--canon-fg-primary);
  outline: none;
  overflow: hidden;
  transform-origin: var(--transform-origin);
  max-width: 340px;
  transition: transform 150ms, opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.canon-MenuItem {
  outline: 0;
  cursor: default;
  user-select: none;
  display: flex;
  gap: var(--canon-space-2);
  color: var(--canon-fg-primary);
  text-decoration: none;
  border-radius: var(--canon-radius-2);
  padding: var(--canon-space-2) var(--canon-space-2);
  padding-right: var(--canon-space-4);
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    background-color: var(--canon-bg-tint-hover);
  }
}

.canon-MenuSeparator {
  margin: 0.375rem 1rem;
  height: 1px;
  background-color: var(--color-gray-200);
}
