@use 'src/theme/variables';

.sectionGridContainer {
  gap: 2rem;
  display: grid;

  :global(.gridHeader) {
    grid-column: 1 / -1;
  }
}

.gridContainer {
  gap: 2rem;
  display: grid;
  align-items: center;

  @media (min-width: variables.$desktopUpBreakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
