.banner {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;

  & > p {
    margin: 0;
  }

  &.info {
    background-color: #f2f2f2;
    border-color: #cdcdcd;
    color: #888888;
  }

  &.warning {
    background-color: #fff2b9;
    border-color: #ffd000;
    color: #d79927;
  }

  & .icon {
    width: 32px;
    height: 32px;
    background-color: rgba(215, 153, 39, 0.2);
    border-radius: 6px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
