.tabs {
  height: 60px;
}

.tabsTheme {
  width: 142px;
  border-radius: 0.375rem;
  background-color: var(--canon-surface-2);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.list {
  display: flex;
  position: relative;
  z-index: 0;
  gap: var(--canon-spacing-lg);
}

.tab {
  all: unset;
  height: 60px;
  font-family: var(--docs-font);
  color: var(--canon-text-secondary);
  font-size: var(--canon-font-size-body);
  font-weight: var(--canon-font-weight-bold);
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--canon-text-primary);
  }

  &[data-selected] {
    color: var(--canon-text-primary);

    & p {
      color: var(--canon-text-primary);
    }
  }

  &:focus-visible {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0.25rem 0;
      border-radius: 0.25rem;
      outline: 2px solid var(--canon-surface-1);
      outline-offset: -1px;
    }
  }
}

.tab p {
  color: var(--canon-text-secondary) !important;
}

.indicator {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -1px;
  translate: var(--active-tab-left) -50%;
  width: var(--active-tab-width);
  height: 1px;
  border-radius: 0.25rem;
  background-color: var(--canon-text-primary);
  transition-property: translate, width, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
