.toolbar {
  position: sticky;
  top: 16px;
  left: 0;
  right: 0;
  border-radius: 8px;
  z-index: 10;
  background-color: var(--panel);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--canon-space-6);
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.025);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--canon-space-4);
}
