.tabs {
  border-radius: 0.375rem;
  width: 100%;
  background-color: var(--bg);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.tabsTheme {
  width: 100px;
  border-radius: 0.375rem;
  background-color: var(--bg);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.list {
  display: flex;
  position: relative;
  z-index: 0;
  padding-inline: 0.25rem;
  gap: 0.25rem;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  outline: 0;
  background: none;
  appearance: none;
  color: var(--secondary);
  user-select: none;
  height: 2rem;
  flex: 1;
  cursor: pointer;

  &[data-selected] {
    color: var(--primary);

    & p {
      color: var(--primary);
    }
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary);
    }
  }

  &:focus-visible {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0.25rem 0;
      border-radius: 0.25rem;
      outline: 2px solid var(--panel);
      outline-offset: -1px;
    }
  }
}

.tab p {
  color: var(--secondary) !important;
}

.indicator {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  translate: var(--active-tab-left) -50%;
  width: var(--active-tab-width);
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--panel);
  transition-property: translate, width, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
