.contentBlock {
  height: 100%;

  gap: 1.5rem;
  display: grid;
  align-items: center;

  > *,
  h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  :global(.contentBlockTitle) {
    align-self: start;
  }

  :global(.bulletLine) {
    width: 50px;
    margin-bottom: 0.5rem;
  }

  :global(.actionButtons) {
    gap: 1rem;
    display: grid;
    align-self: end;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  }
}
