body {
  display: flex;
  flex-direction: row;
  background-color: var(--canon-background);
  color: var(--canon-text-primary);
  transition: background-color 0.2s ease-in-out;
}

iframe {
  border: none;
  width: 100%;
}

.shiki {
  margin: 0;
}

.shiki,
.shiki span {
  background-color: var(--canon-surface-1) !important;
  font-family: var(--canon-font-monospace);
  font-size: 0.875rem;
  line-height: 1.7;
  transition: background-color 0.2s ease-in-out;
}

[data-theme='dark'] .shiki,
[data-theme='dark'] .shiki span {
  color: var(--shiki-dark) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
