.container {
  padding-left: 280px;
  width: 100%;
}

.page {
  flex: 1;
}

.page p {
  color: var(--canon-text-primary);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 64px 24px 64px;
}

.header {
  width: 100%;
  margin-bottom: 64px;
}

.header img {
  width: 100%;
  height: auto;
}
