.cu-gap {
  gap: var(--gap);
}

.cu-gap-0\.5 {
  gap: var(--canon-space-0_5);
}

.cu-gap-1 {
  gap: var(--canon-space-1);
}

.cu-gap-1\.5 {
  gap: var(--canon-space-1_5);
}

.cu-gap-2 {
  gap: var(--canon-space-2);
}

.cu-gap-3 {
  gap: var(--canon-space-3);
}

.cu-gap-4 {
  gap: var(--canon-space-4);
}

.cu-gap-5 {
  gap: var(--canon-space-5);
}

.cu-gap-6 {
  gap: var(--canon-space-6);
}

.cu-gap-7 {
  gap: var(--canon-space-7);
}

.cu-gap-8 {
  gap: var(--canon-space-8);
}

.cu-gap-9 {
  gap: var(--canon-space-9);
}

.cu-gap-10 {
  gap: var(--canon-space-10);
}

.cu-gap-11 {
  gap: var(--canon-space-11);
}

.cu-gap-12 {
  gap: var(--canon-space-12);
}

.cu-gap-13 {
  gap: var(--canon-space-13);
}

.cu-gap-14 {
  gap: var(--canon-space-14);
}

/* Breakpoint xs */
@media (min-width: 640px) {
  .xs\:cu-gap {
    gap: var(--gap-xs);
  }

  .xs\:cu-gap-0\.5 {
    gap: var(--canon-space-0_5);
  }

  .xs\:cu-gap-1 {
    gap: var(--canon-space-1);
  }

  .xs\:cu-gap-1\.5 {
    gap: var(--canon-space-1_5);
  }

  .xs\:cu-gap-2 {
    gap: var(--canon-space-2);
  }

  .xs\:cu-gap-3 {
    gap: var(--canon-space-3);
  }

  .xs\:cu-gap-4 {
    gap: var(--canon-space-4);
  }

  .xs\:cu-gap-5 {
    gap: var(--canon-space-5);
  }

  .xs\:cu-gap-6 {
    gap: var(--canon-space-6);
  }

  .xs\:cu-gap-7 {
    gap: var(--canon-space-7);
  }

  .xs\:cu-gap-8 {
    gap: var(--canon-space-8);
  }

  .xs\:cu-gap-9 {
    gap: var(--canon-space-9);
  }

  .xs\:cu-gap-10 {
    gap: var(--canon-space-10);
  }

  .xs\:cu-gap-11 {
    gap: var(--canon-space-11);
  }

  .xs\:cu-gap-12 {
    gap: var(--canon-space-12);
  }

  .xs\:cu-gap-13 {
    gap: var(--canon-space-13);
  }

  .xs\:cu-gap-14 {
    gap: var(--canon-space-14);
  }
}

/* Breakpoint sm */
@media (min-width: 768px) {
  .sm\:cu-gap {
    gap: var(--gap-sm);
  }

  .sm\:cu-gap-0\.5 {
    gap: var(--canon-space-0_5);
  }

  .sm\:cu-gap-1 {
    gap: var(--canon-space-1);
  }

  .sm\:cu-gap-1\.5 {
    gap: var(--canon-space-1_5);
  }

  .sm\:cu-gap-2 {
    gap: var(--canon-space-2);
  }

  .sm\:cu-gap-3 {
    gap: var(--canon-space-3);
  }

  .sm\:cu-gap-4 {
    gap: var(--canon-space-4);
  }

  .sm\:cu-gap-5 {
    gap: var(--canon-space-5);
  }

  .sm\:cu-gap-6 {
    gap: var(--canon-space-6);
  }

  .sm\:cu-gap-7 {
    gap: var(--canon-space-7);
  }

  .sm\:cu-gap-8 {
    gap: var(--canon-space-8);
  }

  .sm\:cu-gap-9 {
    gap: var(--canon-space-9);
  }

  .sm\:cu-gap-10 {
    gap: var(--canon-space-10);
  }

  .sm\:cu-gap-11 {
    gap: var(--canon-space-11);
  }

  .sm\:cu-gap-12 {
    gap: var(--canon-space-12);
  }

  .sm\:cu-gap-13 {
    gap: var(--canon-space-13);
  }

  .sm\:cu-gap-14 {
    gap: var(--canon-space-14);
  }
}

/* Breakpoint md */
@media (min-width: 1024px) {
  .md\:cu-gap {
    gap: var(--gap-md);
  }

  .md\:cu-gap-0\.5 {
    gap: var(--canon-space-0_5);
  }

  .md\:cu-gap-1 {
    gap: var(--canon-space-1);
  }

  .md\:cu-gap-1\.5 {
    gap: var(--canon-space-1_5);
  }

  .md\:cu-gap-2 {
    gap: var(--canon-space-2);
  }

  .md\:cu-gap-3 {
    gap: var(--canon-space-3);
  }

  .md\:cu-gap-4 {
    gap: var(--canon-space-4);
  }

  .md\:cu-gap-5 {
    gap: var(--canon-space-5);
  }

  .md\:cu-gap-6 {
    gap: var(--canon-space-6);
  }

  .md\:cu-gap-7 {
    gap: var(--canon-space-7);
  }

  .md\:cu-gap-8 {
    gap: var(--canon-space-8);
  }

  .md\:cu-gap-9 {
    gap: var(--canon-space-9);
  }

  .md\:cu-gap-10 {
    gap: var(--canon-space-10);
  }

  .md\:cu-gap-11 {
    gap: var(--canon-space-11);
  }

  .md\:cu-gap-12 {
    gap: var(--canon-space-12);
  }

  .md\:cu-gap-13 {
    gap: var(--canon-space-13);
  }

  .md\:cu-gap-14 {
    gap: var(--canon-space-14);
  }
}

/* Breakpoint lg */
@media (min-width: 1280px) {
  .lg\:cu-gap {
    gap: var(--gap-lg);
  }

  .lg\:cu-gap-0\.5 {
    gap: var(--canon-space-0_5);
  }

  .lg\:cu-gap-1 {
    gap: var(--canon-space-1);
  }

  .lg\:cu-gap-1\.5 {
    gap: var(--canon-space-1_5);
  }

  .lg\:cu-gap-2 {
    gap: var(--canon-space-2);
  }

  .lg\:cu-gap-3 {
    gap: var(--canon-space-3);
  }

  .lg\:cu-gap-4 {
    gap: var(--canon-space-4);
  }

  .lg\:cu-gap-5 {
    gap: var(--canon-space-5);
  }

  .lg\:cu-gap-6 {
    gap: var(--canon-space-6);
  }

  .lg\:cu-gap-7 {
    gap: var(--canon-space-7);
  }

  .lg\:cu-gap-8 {
    gap: var(--canon-space-8);
  }

  .lg\:cu-gap-9 {
    gap: var(--canon-space-9);
  }

  .lg\:cu-gap-10 {
    gap: var(--canon-space-10);
  }

  .lg\:cu-gap-11 {
    gap: var(--canon-space-11);
  }

  .lg\:cu-gap-12 {
    gap: var(--canon-space-12);
  }

  .lg\:cu-gap-13 {
    gap: var(--canon-space-13);
  }

  .lg\:cu-gap-14 {
    gap: var(--canon-space-14);
  }
}

/* Breakpoint xl */
@media (min-width: 1536px) {
  .xl\:cu-gap {
    gap: var(--gap-xl);
  }

  .xl\:cu-gap-0\.5 {
    gap: var(--canon-space-0_5);
  }

  .xl\:cu-gap-1 {
    gap: var(--canon-space-1);
  }

  .xl\:cu-gap-1\.5 {
    gap: var(--canon-space-1_5);
  }

  .xl\:cu-gap-2 {
    gap: var(--canon-space-2);
  }

  .xl\:cu-gap-3 {
    gap: var(--canon-space-3);
  }

  .xl\:cu-gap-4 {
    gap: var(--canon-space-4);
  }

  .xl\:cu-gap-5 {
    gap: var(--canon-space-5);
  }

  .xl\:cu-gap-6 {
    gap: var(--canon-space-6);
  }

  .xl\:cu-gap-7 {
    gap: var(--canon-space-7);
  }

  .xl\:cu-gap-8 {
    gap: var(--canon-space-8);
  }

  .xl\:cu-gap-9 {
    gap: var(--canon-space-9);
  }

  .xl\:cu-gap-10 {
    gap: var(--canon-space-10);
  }

  .xl\:cu-gap-11 {
    gap: var(--canon-space-11);
  }

  .xl\:cu-gap-12 {
    gap: var(--canon-space-12);
  }

  .xl\:cu-gap-13 {
    gap: var(--canon-space-13);
  }

  .xl\:cu-gap-14 {
    gap: var(--canon-space-14);
  }
}
