.cu-h {
  height: var(--height);
}

.cu-min-h {
  min-height: var(--min-height);
}

.cu-max-h {
  max-height: var(--max-height);
}

/* Breakpoint xs */
@media (min-width: 640px) {
  .xs\:cu-h {
    height: var(--height);
  }

  .xs\:cu-min-h {
    min-height: var(--min-height);
  }

  .xs\:cu-max-h {
    max-height: var(--max-height);
  }
}

/* Breakpoint sm */
@media (min-width: 768px) {
  .sm\:cu-h {
    height: var(--height);
  }

  .sm\:cu-min-h {
    min-height: var(--min-height);
  }

  .sm\:cu-max-h {
    max-height: var(--max-height);
  }
}

/* Breakpoint md */
@media (min-width: 1024px) {
  .md\:cu-h {
    height: var(--height);
  }

  .md\:cu-min-h {
    min-height: var(--min-height);
  }

  .md\:cu-max-h {
    max-height: var(--max-height);
  }
}

/* Breakpoint lg */
@media (min-width: 1280px) {
  .lg\:cu-h {
    height: var(--height);
  }

  .lg\:cu-min-h {
    min-height: var(--min-height);
  }

  .lg\:cu-max-h {
    max-height: var(--max-height);
  }
}

/* Breakpoint xl */
@media (min-width: 1536px) {
  .xl\:cu-h {
    height: var(--height);
  }

  .xl\:cu-min-h {
    min-height: var(--min-height);
  }

  .xl\:cu-max-h {
    max-height: var(--max-height);
  }
}
