.bui-pl {
  padding-left: var(--pl);
}

.bui-pl-0\.5 {
  padding-left: var(--bui-space-0_5);
}

.bui-pl-1 {
  padding-left: var(--bui-space-1);
}

.bui-pl-1\.5 {
  padding-left: var(--bui-space-1_5);
}

.bui-pl-2 {
  padding-left: var(--bui-space-2);
}

.bui-pl-3 {
  padding-left: var(--bui-space-3);
}

.bui-pl-4 {
  padding-left: var(--bui-space-4);
}

.bui-pl-5 {
  padding-left: var(--bui-space-5);
}

.bui-pl-6 {
  padding-left: var(--bui-space-6);
}

.bui-pl-7 {
  padding-left: var(--bui-space-7);
}

.bui-pl-8 {
  padding-left: var(--bui-space-8);
}

.bui-pl-9 {
  padding-left: var(--bui-space-9);
}

.bui-pl-10 {
  padding-left: var(--bui-space-10);
}

.bui-pl-11 {
  padding-left: var(--bui-space-11);
}

.bui-pl-12 {
  padding-left: var(--bui-space-12);
}

.bui-pl-13 {
  padding-left: var(--bui-space-13);
}

.bui-pl-14 {
  padding-left: var(--bui-space-14);
}

/* Breakpoint xs */
@media (min-width: 640px) {
  .xs\:bui-pl {
    padding-left: var(--pl-xs);
  }

  .xs\:bui-pl-0\.5 {
    padding-left: var(--bui-space-0_5);
  }

  .xs\:bui-pl-1 {
    padding-left: var(--bui-space-1);
  }

  .xs\:bui-pl-1\.5 {
    padding-left: var(--bui-space-1_5);
  }

  .xs\:bui-pl-2 {
    padding-left: var(--bui-space-2);
  }

  .xs\:bui-pl-3 {
    padding-left: var(--bui-space-3);
  }

  .xs\:bui-pl-4 {
    padding-left: var(--bui-space-4);
  }

  .xs\:bui-pl-5 {
    padding-left: var(--bui-space-5);
  }

  .xs\:bui-pl-6 {
    padding-left: var(--bui-space-6);
  }

  .xs\:bui-pl-7 {
    padding-left: var(--bui-space-7);
  }

  .xs\:bui-pl-8 {
    padding-left: var(--bui-space-8);
  }

  .xs\:bui-pl-9 {
    padding-left: var(--bui-space-9);
  }

  .xs\:bui-pl-10 {
    padding-left: var(--bui-space-10);
  }

  .xs\:bui-pl-11 {
    padding-left: var(--bui-space-11);
  }

  .xs\:bui-pl-12 {
    padding-left: var(--bui-space-12);
  }

  .xs\:bui-pl-13 {
    padding-left: var(--bui-space-13);
  }

  .xs\:bui-pl-14 {
    padding-left: var(--bui-space-14);
  }
}

/* Breakpoint sm */
@media (min-width: 768px) {
  .sm\:bui-pl {
    padding-left: var(--pl-sm);
  }

  .sm\:bui-pl-0\.5 {
    padding-left: var(--bui-space-0_5);
  }

  .sm\:bui-pl-1 {
    padding-left: var(--bui-space-1);
  }

  .sm\:bui-pl-1\.5 {
    padding-left: var(--bui-space-1_5);
  }

  .sm\:bui-pl-2 {
    padding-left: var(--bui-space-2);
  }

  .sm\:bui-pl-3 {
    padding-left: var(--bui-space-3);
  }

  .sm\:bui-pl-4 {
    padding-left: var(--bui-space-4);
  }

  .sm\:bui-pl-5 {
    padding-left: var(--bui-space-5);
  }

  .sm\:bui-pl-6 {
    padding-left: var(--bui-space-6);
  }

  .sm\:bui-pl-7 {
    padding-left: var(--bui-space-7);
  }

  .sm\:bui-pl-8 {
    padding-left: var(--bui-space-8);
  }

  .sm\:bui-pl-9 {
    padding-left: var(--bui-space-9);
  }

  .sm\:bui-pl-10 {
    padding-left: var(--bui-space-10);
  }

  .sm\:bui-pl-11 {
    padding-left: var(--bui-space-11);
  }

  .sm\:bui-pl-12 {
    padding-left: var(--bui-space-12);
  }

  .sm\:bui-pl-13 {
    padding-left: var(--bui-space-13);
  }

  .sm\:bui-pl-14 {
    padding-left: var(--bui-space-14);
  }
}

/* Breakpoint md */
@media (min-width: 1024px) {
  .md\:bui-pl {
    padding-left: var(--pl-md);
  }

  .md\:bui-pl-0\.5 {
    padding-left: var(--bui-space-0_5);
  }

  .md\:bui-pl-1 {
    padding-left: var(--bui-space-1);
  }

  .md\:bui-pl-1\.5 {
    padding-left: var(--bui-space-1_5);
  }

  .md\:bui-pl-2 {
    padding-left: var(--bui-space-2);
  }

  .md\:bui-pl-3 {
    padding-left: var(--bui-space-3);
  }

  .md\:bui-pl-4 {
    padding-left: var(--bui-space-4);
  }

  .md\:bui-pl-5 {
    padding-left: var(--bui-space-5);
  }

  .md\:bui-pl-6 {
    padding-left: var(--bui-space-6);
  }

  .md\:bui-pl-7 {
    padding-left: var(--bui-space-7);
  }

  .md\:bui-pl-8 {
    padding-left: var(--bui-space-8);
  }

  .md\:bui-pl-9 {
    padding-left: var(--bui-space-9);
  }

  .md\:bui-pl-10 {
    padding-left: var(--bui-space-10);
  }

  .md\:bui-pl-11 {
    padding-left: var(--bui-space-11);
  }

  .md\:bui-pl-12 {
    padding-left: var(--bui-space-12);
  }

  .md\:bui-pl-13 {
    padding-left: var(--bui-space-13);
  }

  .md\:bui-pl-14 {
    padding-left: var(--bui-space-14);
  }
}

/* Breakpoint lg */
@media (min-width: 1280px) {
  .lg\:bui-pl {
    padding-left: var(--pl-lg);
  }

  .lg\:bui-pl-0\.5 {
    padding-left: var(--bui-space-0_5);
  }

  .lg\:bui-pl-1 {
    padding-left: var(--bui-space-1);
  }

  .lg\:bui-pl-1\.5 {
    padding-left: var(--bui-space-1_5);
  }

  .lg\:bui-pl-2 {
    padding-left: var(--bui-space-2);
  }

  .lg\:bui-pl-3 {
    padding-left: var(--bui-space-3);
  }

  .lg\:bui-pl-4 {
    padding-left: var(--bui-space-4);
  }

  .lg\:bui-pl-5 {
    padding-left: var(--bui-space-5);
  }

  .lg\:bui-pl-6 {
    padding-left: var(--bui-space-6);
  }

  .lg\:bui-pl-7 {
    padding-left: var(--bui-space-7);
  }

  .lg\:bui-pl-8 {
    padding-left: var(--bui-space-8);
  }

  .lg\:bui-pl-9 {
    padding-left: var(--bui-space-9);
  }

  .lg\:bui-pl-10 {
    padding-left: var(--bui-space-10);
  }

  .lg\:bui-pl-11 {
    padding-left: var(--bui-space-11);
  }

  .lg\:bui-pl-12 {
    padding-left: var(--bui-space-12);
  }

  .lg\:bui-pl-13 {
    padding-left: var(--bui-space-13);
  }

  .lg\:bui-pl-14 {
    padding-left: var(--bui-space-14);
  }
}

/* Breakpoint xl */
@media (min-width: 1536px) {
  .xl\:bui-pl {
    padding-left: var(--pl-xl);
  }

  .xl\:bui-pl-0\.5 {
    padding-left: var(--bui-space-0_5);
  }

  .xl\:bui-pl-1 {
    padding-left: var(--bui-space-1);
  }

  .xl\:bui-pl-1\.5 {
    padding-left: var(--bui-space-1_5);
  }

  .xl\:bui-pl-2 {
    padding-left: var(--bui-space-2);
  }

  .xl\:bui-pl-3 {
    padding-left: var(--bui-space-3);
  }

  .xl\:bui-pl-4 {
    padding-left: var(--bui-space-4);
  }

  .xl\:bui-pl-5 {
    padding-left: var(--bui-space-5);
  }

  .xl\:bui-pl-6 {
    padding-left: var(--bui-space-6);
  }

  .xl\:bui-pl-7 {
    padding-left: var(--bui-space-7);
  }

  .xl\:bui-pl-8 {
    padding-left: var(--bui-space-8);
  }

  .xl\:bui-pl-9 {
    padding-left: var(--bui-space-9);
  }

  .xl\:bui-pl-10 {
    padding-left: var(--bui-space-10);
  }

  .xl\:bui-pl-11 {
    padding-left: var(--bui-space-11);
  }

  .xl\:bui-pl-12 {
    padding-left: var(--bui-space-12);
  }

  .xl\:bui-pl-13 {
    padding-left: var(--bui-space-13);
  }

  .xl\:bui-pl-14 {
    padding-left: var(--bui-space-14);
  }
}
