.VideoCard {
  background-color: #282828;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.VideoGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

@media (max-width: 1200px) {
  .VideoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 815px) {
  .VideoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 485px) {
  .VideoGrid {
    grid-template-columns: 1fr;
  }
}

.VideoCard img {
  float: left;
  margin: 0px 16px 8px 0px;
  height: 160px;
  width: 300px;
}

.VideoCardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: fit-content;
  min-height: fit-content;
}

.VideoCardImage {
  width: 200px;
  height: 80px;
  margin-right: 16px;
}

.VideoCardImage img {
  width: 100%;
  max-width: 100%;
}

.VideoCardTitle {
  color: white;
  vertical-align: top;
  margin: 8px 0 0;
}

.VideoCardInfo {
  flex: 1;
}

.VideoAddNewButton {
  position: absolute;
  bottom: 16px;
  right: 0px;
}

@media only screen and (max-width: 485px) {
  .VideoAddNewButton {
    bottom: -4px;
  }
}

.VideoButtonFilled {
  padding: 4px 8px;
  border-radius: 4px;
  color: #69ddc7;
}

.VideoButtonFilled:hover {
  border: 1px solid #69ddc7;
  background-color: transparent;
}

.VideoCardChipOutlined {
  font-size: small;
  border-radius: 16px;
  padding: 2px 8px;
  border: 1px solid #69ddc7;
  color: #69ddc7;
}

.VideoCardFooter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  min-height: 2em;
}

.VideoCardFooter a {
  padding: 2px 8px;
}

.VideoPageLayout {
  margin: auto;
  max-width: 1430px;
  padding: 20px;
}

.VideoPageHeader {
  position: relative;
}

.VideoPageHeader h2 {
  display: inline-block;
}

.VideoCardBody {
  padding-top: 8px;
}

.VideoCardDate,
.VideoCardDate a {
  margin-bottom: 0.25em;
  color: rgba(255, 255, 255, 0.6);
}

.VideoCardDate a:hover {
  color: white;
}

#add-video-card {
  border: 1px solid #69ddc7;
}
