name: Automate changeset feedback
on:
  pull_request_target:

permissions:
  pull-requests: write
  actions: none
  checks: none
  contents: none
  deployments: none
  issues: none
  packages: none
  pages: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  feedback:
    # prevent running towards forks and version packages
    if: github.repository == 'backstage/backstage' && github.event.pull_request.user.login != 'backstage-service'
    runs-on: ubuntu-latest
    steps:
      - uses: backstage/actions/changeset-feedback@v0.5.9
        with:
          # Fetch the commit that's merged into the base rather than the target ref
          # This will let us diff only the contents of the PR, without fetching more history
          diffRef: 'refs/pull/${{ github.event.pull_request.number }}/merge'
          github-token: ${{ secrets.GH_SERVICE_ACCOUNT_TOKEN  }}
          issue-number: ${{ steps.pr-number.outputs.pr-number }}
