name: Issue
on:
  issues:
    types: [opened]

jobs:
  sync:
    runs-on: ubuntu-latest

    if: github.repository == 'backstage/backstage'
    steps:
      - name: Issue sync
        uses: backstage/actions/issue-sync@v0.5.13
