name: Sync Pull Requests

on:
  repository_dispatch:
    types: [sync-pull-requests]

concurrency:
  group: sync-pr-${{ github.event.client_payload.pr-number }}
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Backstage PR automation
        uses: backstage/actions/pr-automation@c0110c14def021f64b4774335b0d55ac705b9318 # v0.7.1
        with:
          app-id: ${{ secrets.BACKSTAGE_GOALIE_APPLICATION_ID }}
          private-key: ${{ secrets.BACKSTAGE_GOALIE_PRIVATE_KEY }}
          installation-id: ${{ secrets.BACKSTAGE_GOALIE_INSTALLATION_ID }}
          project-owner: backstage
          project-number: '14'
          pr-number: ${{ github.event.client_payload.pr-number }}
          label-added: ${{ github.event.client_payload.label-added }}
          review-state: ${{ github.event.client_payload.review-state }}
