name: Sync Release Manifest
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number'
        required: true
jobs:
  create-new-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: {{ github.event.inputs.version }}
      - name: Install dependencies
        run: yarn install
      - name: Checkout versions
        uses: actions/checkout@v2
        with:
          repository: backstage/versions
          path: versions
          token: ${{ secrets.GH_SERVICE_ACCOUNT_TOKEN }}
      - name: Configure Git
        run: |
          git config --global user.email noreply@backstage.io
          git config --global user.name 'Github versions workflow'
      - name: Create release
        run: |
          node scripts/assemble-manifest.js ${{ github.event.inputs.version }}
          cd versions
          git add .
          git commit -am "${{ github.event.inputs.version }}"
          git push
